@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.table-container {
  max-width: 1168px;
  margin: 0 auto;
}

table {
  width: 100%;
  background-color: #444445;
  font-family: "Inter", sans-serif;
  padding: 40px;
  border-spacing: 0;
  border-radius: 10px;
}
td {
  border-bottom: 1px solid #8f8f8f94;
  color: #c7eaf5;
  padding: 20px;
  font-weight: 300;
}
tr .table-title {
  font-weight: 700;
}
.end-text-align {
  text-align: end;
}
tr:last-child td {
  border-bottom: none; /* Remove border from the last row */
  padding-bottom: 0px;
}
@media screen and (min-width: 0px) and (max-width: 580px) {
  .table-container {
    margin: 0px 5px;
  }
  table {
    padding: 10px;
    font-size: 14px;
  }
  td {
    padding: 10px 0px;
  }
}
